.home-container {
    padding: 25px;
    width: auto;
    height: 90%;
}

.home-container .btn-create {
    height: 30px;
    width: 100px;
    border: none;
    cursor: pointer;
    background: #458bff;
    color: white;
    font-size: 10px;
    border-radius: 5px;
}

.btn-subscription {
    width: 200px;
    border-radius: 0;
    background-color: white;
    box-shadow: none;
    border: gray 1px solid;
    margin: 10px 10px 10px 0;
}