.shared-wallet {
    height: 89%;
    margin: 20px 20vw 0px;
}

.shared-wallet .header-wallet {
    display: flex;
    justify-content: center;

}
.shared-wallet .header-wallet h2 {
    font-size: 25px;
}

.section-your-allowance {
    border: 1px solid black;
    width: 100%;
    margin: 30px 0;
}
