.back-button {
    margin: 1.5rem;
}

.crowdfunding-title {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 1.6rem;
}

.crowdfunding-introduction {
    margin-top: 2rem;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
}

label {
    font-size: 1.2rem;
}

.item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.item-card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}


.item-elem{
    display: flex;
    flex-direction: row;
}

.crowdfunding-participation {
    margin-top: 5rem;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    margin-left: 5rem;
    margin-right: 5rem;
    border: 2px solid;
}

.refresh {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 3rem;
    margin-top: 1.5rem;
}

.crowdfunding-owner {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
}

.spacer {
    margin: 1rem;
}

.rank-handle {
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    flex-direction: column;
}

.height-control {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: start;
    margin-bottom: 1rem;
}

.card {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-left: solid;
    border-width: 2px;
}